@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F2F2F2;
}

.page-container {
  height: 100vh;
  width: 100vw;
}

.icon-text {
  font-size: 1.3vw;
}

.time-pick-text {
  margin-top: 0;
  padding-top: 0;
}

.page-structure {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px 1fr 50px;
      grid-template-rows: 60px 1fr 50px;
}

.page-structure .banner {
  background: #2258A5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-structure .banner .main-banner-text {
  font-family: Poppins;
  font-size: 35px;
  color: #F2F2F2;
  text-shadow: 0.3vw 0.3vw 0.6vw #000000;
}

.page-structure .content-container {
  background: #F2F2F2;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px 1fr;
      grid-template-rows: 100px 1fr;
}

.page-structure .content-container #info-container {
  background-color: #F2F2F2;
  max-width: 100%;
  padding-right: 1vw;
  padding-left: 1vw;
  padding-top: 0.3vw;
  padding-bottom: 1vw;
  margin-right: 8vw;
}

.page-structure .content-container #info-container #return-to-map {
  cursor: pointer;
  margin-left: 2vw;
  width: 2.5vw;
  height: 2.5vw;
  text-align: center;
  display: inline-block;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.page-structure .content-container #info-container #return-to-map .svg-go-back-icon {
  width: 2.1vw;
  height: 2.1vw;
  pointer-events: none;
}

.page-structure .content-container #info-container #info-header-underline-container {
  display: inline-block;
  margin-left: 9vw;
  margin-right: 3vw;
}

.page-structure .content-container #info-container #info-header-underline-container #floor-info {
  font-family: arimo;
  font-size: 3.3vw;
  display: inline-block;
}

.page-structure .content-container #info-container #info-header-underline-container .underline {
  -webkit-transform: translate(-2.5%);
          transform: translate(-2.5%);
  width: 105%;
  margin-top: 1%;
  height: 0.1vw;
  background: black;
}

.page-structure .content-container #info-container #time-info {
  font-family: arimo;
  display: inline-block;
  font-size: 2vw;
  color: #646262;
}

.page-structure .content-container #info-container #date-picker {
  padding: 0.4vw;
  margin-right: 1em;
  width: 8.5vw;
  height: 1.5vw;
  font-size: 1.05vw;
}

.page-structure .content-container #info-container #time-picker {
  padding: 0.4vw;
  width: 5.5vw;
  height: 1.5vw;
  font-size: 1.05vw;
}

.page-structure .content-container #maps-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  background: #F2F2F2;
}

.page-structure .content-container #maps-container #main-image-div {
  max-height: calc(100vh - 210px);
}

.page-structure .content-container #maps-container #main-image-div .svg-image {
  width: 100%;
  height: 100%;
}

.page-structure .content-container #maps-container #info-popup {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.5vw;
  font-size: 1.3vw;
  background: white;
  visibility: hidden;
}

.page-structure .content-container #maps-container #preview-div-vertical-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 3vh 1fr 3vh;
      grid-template-rows: 1fr 3vh 1fr 3vh;
  width: 24%;
  height: 100%;
}

.page-structure .content-container #maps-container #preview-div-vertical-box #floor-up {
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.page-structure .content-container #maps-container #preview-div-vertical-box #floor-down {
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.page-structure .content-container #maps-container .preview-div {
  cursor: pointer;
  border-style: solid;
  border-width: 0.2vw;
  width: 18.15vw;
  height: 100%;
  text-align: center;
}

.page-structure .content-container #maps-container .svg-preview-image {
  pointer-events: none;
  height: calc(50vh - 105 - 4.5px);
  width: calc(15vw);
}

.page-structure .footer {
  background: #2258A5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-structure .footer .made-by-text {
  color: #F2F2F2;
  font-size: 12px;
}
/*# sourceMappingURL=building.css.map */